/* Importamos la fuente de lujo */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para el sobre */
.sobre {
    position: relative;
    width: 90vw;
    max-width: 600px;
    height: auto;
    background-color: black;
    color: #a1925a;
    border: 3px solid #C5B358;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    animation: scaleEffect 0.5s ease-in-out;
    transition: transform 0.3s ease;
    padding: 20px;
}

.sobre::before {
    content: "";
    position: relative;
    top: 15%;
    width: 90%;
    height: 2px;
    background-color: #C5B358;
}

.sobre:hover {
    transform: scale(1.05);
}

.texto-sobre {
    font-size: 2rem;
    color: #a1925a;
    margin: 5px 0;
}

.fecha {
    font-size: 1.2rem;
    color: #a1925a;
    margin-top: 10px;
}

/* Estilos para las preguntas */
.preguntas, .mensaje-final, .agradecimiento {
    width: 90vw;
    max-width: 600px;
    background-color: white;
    color: #a1925a;
    border: 3px solid #C5B358;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para el mensaje final y agradecimiento */
.mensaje-final, .agradecimiento {
    font-size: 1.8rem;
}

/* Botón */
button {
    background-color: #C5B358;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #d4af37;
}

/* Media Queries para ajustar en móviles */
@media only screen and (max-width: 768px) {
    .sobre, .preguntas, .mensaje-final, .agradecimiento {
        font-size: 1.5rem;
        padding: 15px;
    }

    .texto-sobre {
        font-size: 1.8rem;
    }

    .fecha {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}

/* Animaciones */
@keyframes abrirSobre {
    0% {
        transform: scale(0.8) rotateX(90deg);
        opacity: 0;
    }
    50% {
        transform: scale(1) rotateX(20deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotateX(0deg);
        opacity: 1;
    }
}

@keyframes scaleEffect {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}
